* {
    padding: 0;
    margin: 0;
}

/* --------- Global style */
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* --------- Heading */
.heading {
    font-size: 2.5rem;
}

h1, p {
    text-align: center;
    background-color: white;
}

#button {
    height: 50px;
    line-height: 50px;  
    width: 50px;  
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #ff9d09;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    color: black;
}

#game-area {
    background-image: url(../images/sfondo_api.jpg);
    background-size: cover;
    width: 90%;
    height: 500px;
    margin: auto;
    padding: 50px 0;
}

#field {
    width: 500px;
    margin: 50px auto;
    height: 200px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    position: relative;
}

#bee {
    width: 50px;
    height: 41px;
    background-image: url('../images/bee.png');
    background-size: cover;
    position: absolute;
    bottom: 100px;
}

.animate {
    animation: jump 500ms;
}

@keyframes jump {
    0%{bottom: 100px;}
    30%{bottom: 70px;}
    50%{bottom: 50px;}
    70%{bottom: 70px;}
    100%{bottom: 100px;}
}

#daisy {
    width: 50px;
    height: 73px;
    background-image: url(../images/daisy.png);
    background-size: cover;
    position: absolute;
    bottom: 0px;
    left: 480px; 
    visibility: hidden;
}

.ground {
    animation: daisy 3s infinite linear;
}

@keyframes daisy {
    0%{left: 480px;}
    100%{left: -50px}
}

#fly-down {
    height: 50px;
    line-height: 50px;  
    width: 50px;  
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #ff9d09;
    text-align: center;
    cursor: pointer;
    color: black;
}

/* Small screen size from 600px and below */

@media screen and (max-width: 600px) {
    #field {
        width: 300px;
    }

    #daisy {
        left: 280px;
    }

    @keyframes daisy {
        0%{left: 280px;}
        100%{left: -50px}
    }

    #game-area {
        height: 400px;
    }

    .ground {
        animation: daisy 2s infinite linear;
    }
}

/* Smaller screen size from 350px and below */

@media screen and (max-width: 350px) {
    #field {
        width: 200px;
    }

    #daisy {
        left: 180px;
    }

    @keyframes daisy {
        0%{left: 180px;}
        100%{left: -50px}
    }

    #game-area {
        height: 330px;
        padding: 20px 0;
    }

    #field {
        margin: 10px auto;
    }

    .ground {
        animation: daisy 1500ms infinite linear;
    }
}